* {padding: 0; margin: 0; font-family: sans-serif;}
body {
   // background-image: url('./body.png');
    background-position: initial;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7f00ff;
    // border: 3px solid white;

    
    height: 68px;
}

header h1 {
       color: white;
       margin-left: 50px; 
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    // background-color: green;
    margin-right: 50px;
}

header li {
    list-style: none;
    
}

header li a {
    text-decoration: none;
    color: red;
    font-weight: 900;
    font-size: 25px;
    background-color: none;
    color: white;
    padding: 20px 10px 20px 10px;
}

header li a:hover {
     background-color: black;
}


.hero {
    height: 555px;
    // border: 3px solid red;
    position: relative;
    background-image: url('tree.jpg');
    background-repeat: no-repeat;
    background-position: initial;
    background-size: 100%;
}

.formContainer {
    width: 400px;
    height: 280px;
    // border: 3px solid blue;
    position: absolute;
    top: 85px;
    left: 50px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}



.formContainer h1 {
    color: #7f00ff;
    font-size: 20px;
    margin-top: 25px;
}

.formContainer img {
    position: absolute;
    top: 0px;
    right: 0px;
}
.formContainer form {
    padding: 0px; margin: 0px;
    // background-color: red;
    // border: 3px solid red;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 66px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formContainer form input {
    width: 300px;
    padding: 10px 0px 10px 0px;
}
.formContainer form textarea {
    width: 300px;
}

